Source: libezv24
Priority: optional
Maintainer: Joerg Desch <jdesch@users.sourceforge.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: libezv24-dev
Section: devel
Architecture: any
Depends: libezv24-1 (= ${Source-Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libezv24-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
